@import '../../global.scss';

.contact{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wrapper{
        display: flex;
        flex-direction: column;

        .top{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 100px;
            h2{
                font-size: 40px;
                color: #222;
                @include mobile{
                    font-size: 25px;
                }
            }
        }
        .bottom{
            display: flex;
            overflow: hidden;
            @include mobile{
                display: flex;
                flex-direction: column;
            }
            .left{
                display: flex;
                flex-direction: column;
                height: 100vw;
                margin-top: 50px;
                width: 50%;
                padding-left: 100px;
                @include mobile{
                    margin-top: 20px;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding-left: 0;
                    height: 20vw;
                }
                h2{
                    font-size: 30px;
                    color: $maincolor;
                    @include mobile{
                        font-size: 25px;
                        overflow: hidden;
                        height: 120%;
                        padding-bottom: 20px;
                    }
                }
                p{
                    font-size: 15px;
                    margin: 20px 0;
                    @include mobile{
                        height: 100%;
                        margin: 10px 0;
                        overflow: hidden;
                        display: none;
                    }
                }
                img{
                    width: 70%;
                    @include mobile{
                        display: none;
                    }
                }
            }
            .right{
                width: 50%;
                display: flex;
                margin-top: 70px;
                @include mobile{
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    overflow: hidden;
                }
                form{
                    width: 100%;
                    @include mobile{
                        width: 100%;
                        height: 80vw;
                        overflow: hidden;
                        margin-top: 10px;
                    }

                    input{
                        margin-bottom: 20px;
                        height: 30px;
                        width: 250px;
                        padding: 0 20px;
                        @include mobile{
                            height: 20px;
                            overflow: hidden;
                            width: 150px;
                            margin-bottom: 10px 
                        }
                    };
                    input::placeholder{
                        font-size: 15px;
                        @include mobile{
                            font-size: 13px;
                        }
                    }

                    textarea{
                        width: 250px;
                        height:150px ;
                        padding: 10px 20px;
                        resize: none;
                        @include mobile{
                            height: 100px;
                            width: 200px;
                        }
                        &::placeholder{
                            font-size: 15px;
                        }
                    }

                    button{
                        margin-top: 20px;
                        font-size: 20px;
                        border: none;
                        background-color: $maincolor;
                        color: white;
                        padding: 10px 20px;
                        cursor: pointer;
                        border: 1px solid $maincolor;
                        transition: .5s;
                        @include mobile{
                            font-size: 15px;
                        }
                        &:hover{
                            background-color: transparent;
                            color: $maincolor;
                        }
                    }
                }
            }
        }
    }
}