@import '../../global.scss';

.experience{
    background-color: white;
    display: flex;
    flex-direction: column;
    @include mobile{
        margin-top: -20px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .top{
            display: flex;
            align-items: center;

            h2{
                font-size: 40px;
                font-weight: 500;
                @include mobile{
                    font-size: 30px;
                }
            }
            margin-bottom: 50px;
            @include mobile{
                overflow: hidden;
                padding-top: 20px;
                margin-bottom: 20px;
            }
        }

        .bottom{
            display: flex;
            align-items: center;
            width: 70%;
            justify-content: center;
            @include mobile{
                flex-direction: column;
            }

            .left{
                margin-right: 30px;
                border: 1px solid black;
                padding: 50px 50px 0 50px;
                border-radius: 20px;

                @include mobile {
                    margin-right: 0;
                    padding: 20px 20px 0 20px;
                    overflow: hidden;
                    margin-bottom: 30px;
                    height: 100%;
                }

                h4{
                    @include mobile{
                        font-size: 15px;
                    }
                }
                .skill{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 30px;
                    @include mobile{
                        margin-top: 10px;
                    }
                    .item{
                        width: 40%;
                        display: flex;
                        margin-bottom: 50px;
                        @include mobile{
                            width: 50%;
                            margin-bottom: 30px;
                        }
                        span{
                            @include mobile{
                                .i{
                                    font-size: 16px;
                                }
                            }
                        }
                        .text{
                            margin-left: 10px;
                            font-weight: 300;

                            @include mobile{
                                margin-left: 3px;
                                font-size: 13px;
                            }

                            p{
                                font-size: 12px;
                                @include mobile{
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
            .right{
                margin-left: 30px;
                border: 1px solid black;
                padding: 50px 50px 0 50px;
                border-radius: 20px;
                @include mobile {
                    padding: 20px 20px 0 20px;
                    height: 100%;
                    overflow: hidden;
                    margin-left: 0;
                }

                h4{
                    @include mobile{
                        font-size: 15px;
                    }
                }
                .skill{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 30px;
                    @include mobile{
                        margin-top: 10px;
                    }

                    .item{
                        width: 40%;
                        display: flex;
                        margin-bottom: 50px;
                        @include mobile{
                            width: 50%;
                            margin-bottom: 30px;
                        }
                        span{
                            @include mobile{
                                .i{
                                    font-size: 16px;
                                }
                            }
                        }
                        
                        .text{
                            margin-left: 10px;
                            font-weight: 300;
                            @include mobile{
                                margin-left: 3px;
                                font-size: 13px;
                            }

                            p{
                                font-size: 12px;
                                @include mobile{
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}