@import '../../global.scss';

.Hire{
    background-color: $maincolor;
    height: 80vh;
    width: 450px;
    position: absolute;
    z-index: 10;
    top: 90px;
    left: 450px;
    border-radius: 20px;
    transition: 1s;
    opacity: 1;
}
.close{
    background-color: $maincolor;
    height: 80vh;
    width: 450px;
    position: absolute;
    z-index: 0;
    top: 90px;
    left: 450px;
    border-radius: 20px;
    transition: 1s;
    opacity: 0;
}

.Close{
    position: absolute;
    right: 20px;
    top: 20px;
    .cross{
        color: white;
        cursor: pointer;
        font-size: 30px;
    }
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    form{
        padding: 0 10px;
    }

    h2{
        color: white;
        padding-bottom: 20px;
    }
    input{
        width: 230px;
        padding: 8px 20px;
        margin: 5px 0;
        border-radius: 5px;
        border: none;
    }
    textarea{
        width: 230px;
        padding: 10px 20px;
        height: 100px;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
        resize: none;
    }

    .hireBtn{
        border: none;
        width: 200px;
        margin-top: 20px;
        padding: 7px 20px;
        margin-left: 40px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }
}